.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: 300;
  color: #e02041;
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.spin{
  transition: all .3s linear;
  animation: spin 2s infinite;
  margin-left: 10px;
  transform: rotatez(0deg);

}

@keyframes spin {
  0%{
    transform: rotatez(0deg);

  }
  100%{
    transform: rotatez(360deg);

  }
}